.container {
    display: grid;
    /* grid-template-columns: 33% auto; */
}

.container_grid {
    grid-template-columns: 33% auto;
}

@media screen and (max-width: 1100px) {
    .container {
        display: flex !important;
        flex-direction: column !important;
        gap: 1rem !important;
    }

    .scroller {
        gap: 1rem !important;
        width: 100%;
    }
}