@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --sky-100: rgb(224 242 254);
    --sky-200: rgb(186 230 253);
    --sky-300: rgb(125 211 252);
    --sky-400: rgb(56 189 248);
    --sky-500: rgb(14 165 233);
    --sky-600: rgb(2 132 199);
    --sky-700: rgb(3 105 161);
    --sky-800: rgb(7 89 133);
    --sky-900: rgb(12 74 110);

    --neutral-400: rgb(163 163 163);
    --neutral-500: rgb(115 115 115);
    --neutral-600: rgb(82 82 82);
    --neutral-700: rgb(64 64 64);
    --neutral-800: rgb(38 38 38);
    --neutral-900: rgb(23 23 23);
    --neutral-950: rgb(10 10 10);

    --green: rgb(40, 167, 69);

    --white: rgb(255, 255, 255);

    --red-400: rgb(248 113 113);
    --red-500: rgb(239 68 68);
    --red-600: rgb(220 38 38);
    --red-700: rgb(185 28 28);

    --yellow-300: rgb(253 224 71);
    --yellow-500: rgb(234 179 8);


    --primary: rgb(2 132 199);
    /* --primary: #007bff; */
    --secondary: #28a745;
    --neutral: #f8f9fa;
    --accent: #ffd700;
    /* --primary-text: #343434; */
    --primary-text: rgb(75 85 99);
    --secondary-text: #9c9c9c;
    --dark-gray: #686868;
    --success: #34B53A;
    --danger: #F65464;
    --warning: #E19800;
    --light: #FFF;
    --black-100: rgba(0, 0, 0, 0.4);
}

html,
body {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    font-family: "Roboto", sans-serif;
    max-width: 1800px;
    width: 100%;
    margin-inline: auto;
}


.box-shadow {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}


/* width */
::-webkit-scrollbar {
    /* width: 7px; */
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #cac7c7;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #a4a3a3;
}