@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --sky-100: rgb(224 242 254);
    --sky-200: rgb(186 230 253);
    --sky-300: rgb(125 211 252);
    --sky-400: rgb(56 189 248);
    --sky-500: rgb(14 165 233);
    --sky-600: rgb(2 132 199);
    --sky-700: rgb(3 105 161);
    --sky-800: rgb(7 89 133);
    --sky-900: rgb(12 74 110);

    --neutral-400: rgb(163 163 163);
    --neutral-500: rgb(115 115 115);
    --neutral-600: rgb(82 82 82);
    --neutral-700: rgb(64 64 64);
    --neutral-800: rgb(38 38 38);
    --neutral-900: rgb(23 23 23);
    --neutral-950: rgb(10 10 10);

    --green: rgb(40, 167, 69);

    --white: rgb(255, 255, 255);

    --red-400: rgb(248 113 113);
    --red-500: rgb(239 68 68);
    --red-600: rgb(220 38 38);
    --red-700: rgb(185 28 28);

    --yellow-300: rgb(253 224 71);
    --yellow-500: rgb(234 179 8);


    --primary: rgb(2 132 199);
    /* --primary: #007bff; */
    --secondary: #28a745;
    --neutral: #f8f9fa;
    --accent: #ffd700;
    /* --primary-text: #343434; */
    --primary-text: rgb(75 85 99);
    --secondary-text: #9c9c9c;
    --dark-gray: #686868;
    --success: #34B53A;
    --danger: #F65464;
    --warning: #E19800;
    --light: #FFF;
    --black-100: rgba(0, 0, 0, 0.4);
}

html,
body {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    font-family: "Roboto", sans-serif;
    max-width: 1800px;
    width: 100%;
    margin-inline: auto;
}

/* .d-flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-end {
    justify-content: flex-end;
}

.align-items-center {
    align-items: center;
}

.align-items-end {
    align-items: flex-end;
}

.align-items-start {
    align-items: flex-start;
}

.flex-1 {
    flex: 1;
}

.flex-wrap {
    flex-wrap: wrap;
}

.gap-1 {
    gap: 1rem;
}

.gap-1-half {
    gap: 1.5rem;
}

.gap-half {
    gap: 0.5rem;
}

.gap-025 {
    gap: 0.25rem;
}

.gap-01 {
    gap: 0.1rem;
}

.gap-2 {
    gap: 2rem;
}

.font-xs {
    font-size: 10px;
}

.font-sm {
    font-size: 12px;
}

.font-md {
    font-size: 14px;
}

.font-lg {
    font-size: 16px;
}

.font-xl {
    font-size: 18px;
}

.font-bold {
    font-weight: 600;
}

.font-bold-700 {
    font-weight: 700;
}

.font-semibold {
    font-weight: 500;
}

.text-gray {
    color: var(--secondary-text);
}

.text-dark-gray {
    color: var(--dark-gray);
}

.text-dark {
    color: var(--primary-text);
}

.text-primary {
    color: var(--primary);
}

.text-red {
    color: var(--danger);
}

.text-success {
    color: var(--success);
}

.text-light {
    color: var(--light);
}

.text-center {
    text-align: center;
}

.overflow-hidden {
    overflow: hidden;
}

.w-100 {
    width: 100%;
}

.p-0 {
    padding: 0;
}

.mt-1 {
    margin-top: 1rem;
}

.mt-2 {
    margin-top: 2rem;
}

.mb-1 {
    margin-bottom: 1rem;
}

.mb-2 {
    margin-bottom: 2rem;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.flex-col-gap-1 {
    display: flex;
    flex-direction: column;
    gap: 1rem;
} */

/* @media screen and (max-width: 767px) {

    .font-xs {
        font-size: 8px;
    }

    .font-sm {
        font-size: 10px;
    }

    .font-md {
        font-size: 11px;
    }

    .font-lg {
        font-size: 12px;
    }

    .font-xl {
        font-size: 14px;
    }

    .sm-gap-1 {
        gap: 1rem;
    }
} */



/* width */
::-webkit-scrollbar {
    /* width: 7px; */
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #cac7c7;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #a4a3a3;
}