.heading {
    color: var(--primary-text);
    font-size: 1.5rem;

}

.primary {
    color: var(--primary);
}

@media screen and (min-width:767px) {
    .heading {
        font-size: 2.3rem;
    }
}

@media screen and (min-width: 1024px) {
    .heading {
        font-size: 3rem;
    }
}